.main-text[b-ta8rplvoqy] {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.index_title[b-ta8rplvoqy] {
    font-size: 25px;
}

.index_title_2[b-ta8rplvoqy] {
    font-size: 15px;
    color: black;
}

.index_title_3[b-ta8rplvoqy] {
    font-size: 18px;
}