@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<head>
    <link rel="stylesheet" href="~/css/registerconfirm.css" type="text/css" />
</head>

<div class="content">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>

