@page "/"
@layout MainLayout
@attribute [Authorize]

<div class="main-text">
    <br/>
    <h1 class="index_title">Stock Market</h1>
    <br/>
    <h2 class="index_title_2">Follow the stocks you care about most and get personalised news and alerts. Access real-time stock information and investment updates to stay on top of the market.</h2>
    <br/>
    <h3 class="index_title_3">Favourite features:</h3>
    <ul>
        <li>Follow stocks to get real-time quotes and personalised news</li>
        <li>Discover detailed financial information</li>
        <li>Go beyond stocks and track currencies, bonds, commodities, equities, world indices, and futures</li>
        <li>Compare and evaluate stocks with interactive full screen charts</li>
    </ul>
    <br/>
    <h3 class="index_title_3">Helpful tips:</h3>
    <ul>
        <li>Follow all the stocks you care about by searching for the ticker and tapping the star icon</li>
        <li>Create multiple watchlists to organise the stocks you follow</li>
    </ul>
</div>