@page "/Test"
@using StockMarket.Shared.Models
@layout MainLayout
@inject HttpClient Http;

@if (list is null)
{
    <p>Loading...</p>
}
else
{
    foreach (var news in list)
    {
        <p>@news.Title</p>
        <p>@news.Description</p>
        <p>@news.PublishedDate</p>
    }
    <br/>
    <br/>
}


@code
{
    List<StockNews> list;
    
    protected override async Task OnInitializedAsync()
    {
        list = await Http.GetJsonAsync<List<StockNews>>($"api/StockNews");
    }
}
